:root {
    --color_btn: blue;
}

header {
    background-color: #FFFFFF;
    padding-block: 15px;
    /* position: sticky;
    top: 0;
    z-index: 1; */

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.box__menu__left,
.box__menu__right,
.menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-list > li > a:not(:last-child) {
    color: black;
}

.btn {
    padding: 10px 15px;  
}
.btn--blue {
    background-color: var(--color_btn);
    color: white;
}
/* start main */

/* prima section */
.jumbo {
    background: linear-gradient(#b4d0e6 80%, #fff 20%);
    padding: 10px;

}

.container-90 {
    max-width: 90%;
    margin: 0 auto;
}
.jumbo  h1 {
    text-align: center;
    font-size: 4rem;
    padding: 10px;
}

.jumbo-info {
    display: flex;

}

.jumbo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-basis: 30%;
    line-height: 130%;
}
.jumbo-text i{
    font-size: 3rem;

}
.jumbo-img {
    flex-basis: 70%;
}
/* seconda section */
.container-80 {
    max-width: 80%;
    margin: 0 auto ;
}
.business_content {
    margin-top: 20px;
}
.business_content > div {
    margin-block: 20px ;

}