header {
    background-color: #FFFFFF;
}

header {
    padding-block: 15px;
}

.flex {
    display: flex;
}


nav.flex {
   justify-content: space-between;
   margin-inline: 10px;
}
.box__menu__left,
.box__menu__right {
    gap: 20px;
}

.menu-list {
    gap: 30px;
}

/* start main */
section.full-color {
    background-color: aqua;

}
.container-80 {
    width: 80%;
    margin: 0 auto;
}
.box__jumbo {
    display: flex;
    padding: 30px;
}
div.container-80 > h1 {
    padding: 30px
}