:root {
    --color_btn: blue;
}
html {
    line-height: 160%;
}

header {
    background-color: #FFFFFF;
    padding-block: 15px;
    /* position: sticky;
    top: 0;
    z-index: 1; */

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.box__menu__left,
.box__menu__right,
.menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-list > li > a:not(:last-child) {
    color: black;
}

.btn {
    padding: 10px 15px;  
}
.btn--blue {
    background-color: var(--color_btn);
    color: white;
}
/* start main */

/* prima section */
.jumbo {
    background: linear-gradient(#b4d0e6 80%, #fff 20%);
    padding: 10px;

}

.container-90 {
    max-width: 90%;
    margin: 0 auto;
}
.jumbo h1 {
    text-align: center;
    font-size: 4rem;
    padding: 30px;
}

.jumbo-info {
    display: flex;

}

.jumbo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-basis: 30%;

}
.jumbo-text i{
    font-size: 3rem;

}
.jumbo-img {
    flex-basis: 70%;
}

/* seconda section */
.container-80 {
    max-width: 80%;
    margin: 0 auto ;
}
.business_content {
    margin-top: 20px;
}
.business_content > div {
    margin-block: 20px ;

}

/* terza section */

/* contenitore card  */
.business__plane__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

/*  card singole  */
.business__plane__card {
    flex-basis: calc(100% / 3 - 20px);
    flex-grow: 1;
    border: 1px solid black ;
    /* height: 500px; */
    
}

/* nome piano  */
.card-name {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
}

.card-top {
    padding: 20px;
    
}
.card-bottom {
    padding: 20px;
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.card-bottom > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

/* card orizzontale */
.card-large {
display: flex;
padding: 20px;
justify-content: space-between;
}


.card-large-column {
    display: flex;

}
.card-large div p:last-child{
    margin-top: 20px;

}
.card-large div {
    flex-basis: 70%;
}
.card-large div:last-child {
    flex-basis: 30%;
    text-align: center;

    

}

.card-large-btn{
    display: flex;
    flex-direction: column;

}

/* quarta section  */

.section-partner {
    margin-block: 20px;
    padding-block: 25px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.partner-text {
 display: flex;
 flex-direction: column;
 gap: 10px;
}


/* quinta section */
.feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.feature-card {
    flex-basis: calc(100% / 3 - 10px);
}


